.hero-banner{
    background-image: url('../../images/bannerbackground.png');
    background-position: center;
    background-size: cover;
    height: 350px;
}
.food-searchbar{
    width: 25%;
    height: 45px;
    border-radius: 25px;
    outline: none;
    font-weight: 500;
}